body {
    height: 100vh;
}

.fundo {
    background-color: grey;
    font-size: 16px;
    text-align: center;
}

.space {
    margin: 100px
}


/* .index {
    background-color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
} */

.linhas {
    border: 1px solid grey;
    border-radius: 10px;
}

img {
    margin: 10px;
    width: 300px;
    border-radius: 100%;
    
}

iframe {
    max-width: 60%;
    max-height:100px;
    border: 2px solid green;
    border-radius: 5px;
}

